@page
@model TrainerModel
@{
    ViewData["Title"] = "Overview";
}

<main class="text-center d-flex flex-column justify-content-between fullwidth">
    @* alternatively @Model.Trainer.Name works too *@
    <h1 class="display-4 mb-3">Welcome back, Trainer @(Model.Trainer?.Name)</h1>
    <div class="d-flex flex-row justify-content-between pd-1">
        <img width="100px" src="@(Model.Team?.First.SpriteUrl)">@(Model.Team?.First?.Name)</img>
        <img width="100px" src="@(Model.Team?.Second.SpriteUrl)">@(Model.Team?.Second?.Name)</img>
        <img width="100px" src="@(Model.Team?.Third.SpriteUrl)">@(Model.Team?.Third?.Name)</img>
        <img width="100px" src="@(Model.Team?.Fourth.SpriteUrl)">@(Model.Team?.Fourth?.Name)</img>
        <img width="100px" src="@(Model.Team?.Fifth.SpriteUrl)">@(Model.Team?.Fifth?.Name)</img>
        <img width="100px" src="@(Model.Team?.Sixth.SpriteUrl)">@(Model.Team?.Sixth?.Name)</img>

    </div>
    @* <ol>
        @foreach (var pokemon in Model.Trainer.Team) {
        </ol> *@
</main>